

.presentation {
    background-color: white;
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 90vh;
    align-items: center;
    text-decoration: none!important;
    
}

a:link{
    text-decoration: none!important;
}

.introduction {
    flex: 1;
    margin: 0 15%;
}

.intro-text h1{
    font-size: 3.5rem;
    font-weight: 500;
    background: linear-gradient(to right, #141414, #25252b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1.5s ease;
}

.intro-text h2{
    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(to right, #000000, #3d3d47);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: drop 1.5s ease;
}


.intro-text p{
    margin-top: 5px;
    margin-right: 45px;
    font-size: 2rem;
    color: #000000;
    animation: drop 1.5s ease;
}

.intro-text p span{
    background-image: linear-gradient(325deg, #4d45c7, #2956d4 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}


.cta{
    padding: 50px 0px 0px 0px;
    text-decoration: none;
    display: inline-block;
}


.cta-select {
    animation: drop 1.5s ease;
    font-size: 1.6rem;
    background-image: linear-gradient(to left, #1a8dcf, #2956d4 100%);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }

  .cta-select1 {
    animation: drop 1.5s ease;
    font-size: 1.6rem;
    background-image: linear-gradient(to left, #1a8dcf, #2956d4 100%);
    color: white;
    padding: 10px 30px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
  }
  
  .cta button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .cta-select:after,
  .cta-select1:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .cta-select:hover,
  .cta-select1:hover {
    color: rgb(0, 0, 0);
  }


.cover{
    flex: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    
}

.who__img--card {
    animation: drop 1.5s ease;
    margin: 50px 0;
    height: 30rem;
    width: 25rem;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    overflow: hidden;
  }

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1050px) {
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }

    .cover img {
        margin-top: 5vh;
        width: 44vh;

    }
    
    .intro-text h1{
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
        margin-right: 30px;
        text-align: center;
    }
    .cta{
        padding: 30px 0px 0px 0px;
        text-decoration: none;
    }

    .cta-select{
        width:130px;
        height: 45px;
        text-decoration: none;

    }

}