@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    background-image: linear-gradient(325deg, #4d45c7, #2956d4 100%);
}

.logo_container{
    height: 100%;
    display: table;
    float: left;  
}

.logo_container h1{
    color: rgb(255, 255, 255) ;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 2.7rem;
    font-weight: 600;
}

.logo_container h1 span{
    font-weight: 300;
    font-size: 1rem;
    align-items: center;
    margin-top: -20px; 
    padding: 0 0 0 15px;
    
}

.logo_container h1 a{
    color: inherit;
}



.header {
    background: url("Images/home1.svg") no-repeat;
    background-size: cover;
    padding: 100px 0 50px 0;
    width: 100%;
    height: 80px;
    display: block;
}

.inner_header{
    width: 1700px;
    height: 100%;
    display: block;
    margin: -6.5rem auto;
    background-color:#ffffff;
}


.nav {
    float: right;
    height: 100%;
    margin-top: 15px;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 30px;
}

nav ul  {
    float: left;
}

.nav a:last-child{
    padding-right:0;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
}

.nav a li:hover {
    color: #2956d4;
    transition: all 0.3s ease;
  }



@media screen and (max-width:1024px){
    .inner_header{ 
        width: 90%;
    } 
    
    .logo_container h1{
        font-size: 20px;
    }

    .nav a {
        padding: 0px 5px;
    }

    .nav a li{ 
        font-size: 10px;
    }

}

@media screen and (max-width:700px){
    
    .logo_container h1{
        font-size: 10px;
    }

}

