
  .who-container {
    animation: drop 1.5s ease;
    background-color: #ffffff;
    padding: 0rem 0;
  }
  
  .who__container {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
  }
  
  .right {
    animation: drop 1.5s ease;
    display: table-column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 5rem 0px;
  }
  
  .who__content {
    animation: drop 1.5s ease;
    color: rgb(0, 0, 0);
    width: 100%;
  }
  
  .right h1 {
    font-size: 2.5rem;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 40px;
  }
  
  .right h1 span {
    font-size: 2.5rem;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 10px;
  }
  
  .right h2 {
    font-size: 2rem;
    background: #000000; /* fallback for old browsers */
    background: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  
  .who__img--card {
    margin: 20px;
    height: 30rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    overflow: hidden;
  }
  
  .right p,
  p {
    animation: drop 1.5s ease;
    margin: 0 0rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  P{    
    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    padding: 0 0; 
  }

.cta{
    padding: 50px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
}

.cta-select {
    animation: drop 1.5s ease;
    font-size: 1.6rem;
    background-image: linear-gradient(to left, #1a8dcf, #2956d4 100%);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;   
}

.cta button a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .cta-select:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    transition: all 0.35s;
    border-radius: 4px;
  }
  
  .cta-select:hover {
    color: rgb(0, 0, 0);
  }

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1050px) {
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    
    .intro-text h1{
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
        margin-right: 30px;
        text-align: center;
    }
    .cta{
        padding: 30px 0px 0px 0px;
    }

    .cta-select{
        width:130px;
        height: 45px;

    }

}